<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		title Document
	body
		header
			section
				p telefono
				p correo
			section 
				ul
					li facebook
					li twitter
					li google +
					li linkedin
					li youtube
					li otro
		div
			section
				section
					h1 impreza
				section
					nav
						ul
							li Home
							li About us
							li Services
							li Pricing
							li Contact
							li lupa
			section.map
			 img(src="foto.png")
			section.contacto
			 section.info
				h2 Get Social
					
					
				
                 
                    	

						


	
	

	


	