* {
box-sizing:border-box;
margin: 0;
}

body {
	margin: 0;
}

.content{
	border: 3px solid green;
}

nav {
	border: 2px solid green;
	display: inline-block;
	position: absolute;
	white-space:nowrap;
	width: 300px;
}

.sec-uno {
	border: 2px solid green;
	padding: 10px 0;
	position: relative;
	white-space:nowrap;
    margin-left: 300px;

}

.sec-dos {
	border: 2px solid green;
	margin-left: 300px;
	padding: 10px 0;

}

.sec-tres {
	border: 2px solid green;
	margin-left: 300px;
	padding: 10px 0;


}