<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
body
	header
		// seccion logo
		section
			img(src='http://lorempixel.com/200/60/')
		// seccion nav
		section
			nav
				ul
					li home
					li services
					li portfolio
					li testimonials
					li blog
					li contact us

	

	// section slide
	section
		img(src='http://lorempixel.com/1600/600/')

	// section principal
	section
		// section titulo
		section
			h1 we can make your online business easy & usable for all walks of people 

		// section boton
		section
			img(src='http://lorempixel.com/200/100/')

		//section recuadros
		section
			section
				img(src='http://lorempixel.com/100/100/')
				h2 business heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum expedita nobis cum vitae totam voluptate temporibus nostrum 
				input(type='submit' value='Read More') 

			section
				img(src='http://lorempixel.com/100/100/')
				h2 business heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum expedita nobis cum vitae totam voluptate temporibus nostrum 
				input(type='submit' value='Read More') 

			section
				img(src='http://lorempixel.com/100/100/')
				h2 business heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum expedita nobis cum vitae totam voluptate temporibus nostrum 
				input(type='submit' value='Read More') 

			section
				img(src='http://lorempixel.com/100/100/')
				h2 business heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio eum expedita nobis cum vitae totam voluptate temporibus nostrum 
				input(type='submit' value='Read More') 

		// section info complementaria

		section
			section
				img(src='http://lorempixel.com/50/50/')
				h3 Title heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				img(src='http://lorempixel.com/50/50/')
				h3 Title heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.  

			section
				img(src='http://lorempixel.com/50/50/')
				h3 Title heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				img(src='http://lorempixel.com/50/50/')
				h3 Title heading
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.

			section
				h3 About the company
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis incidunt distinctio molestiae in optio, provident doloremque quia, labore eius adipisci, asperiores voluptatum nisi porro corporis ex explicabo magnam eligendi autem.
				a(href='#') Read More

		// footer

	footer
		section
			nav
				ul
					li home
					li services
					li portfolio
					li testimonials
					li blog
					li contact us
			p @2010 WebCorp LLC | Terms of services | Privacy Policy
			p Icons courtesy IconFinder.com
		section
			p contact us:
			ul
				li:img(src='http://lorempixel.com/30/30/')
				li:img(src='http://lorempixel.com/30/30/')
				li:img(src='http://lorempixel.com/30/30/')
				li:img(src='http://lorempixel.com/30/30/')




